/* 
    Created on : 16 f�vr. 2014, 19:21:42
    Author     : Francois Greze <francois.greze@gmail.com>
*/

/* reset */
a::focus {
    -moz-outline-style: none;
}
:-moz-any-link:focus {
    outline: none;
}
.darkorange{
    color: darkorange;
}
.dark-grey{
    color: #333333;
}
.active{
    color: darkorange;
    background-color: transparent;
    border-bottom: 2px #333333 solid!important;
}

/* init*/
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    overflow:hidden;
    //Negative indent footer by its height 
    margin: 0 auto -60px;
    //Pad bottom by footer height 
    padding: 0 0 60px;
}
#slider-header{
    width: 100%;
    height:1200px;
}
/* Set the fixed height of the footer here */
#footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;

    background-color: #141414;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover{
    color: darkorange;
}

/* header top slider seciton */
div#wrap header#slider-header{
    text-align: center;
}
div#wrap header#slider-header a{
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 80%;
    left:50%;
    color: #141414;
    z-index: 2000;
    margin-left:-50px;


}
/* scroll section skin */
body section.scroll-section:nth-child(even) {
    background-color:#D1D1D1;
    color:#ff8c00; 
}
body section.scroll-section:nth-child(odd) {
    background-color: #33ccff;
    color: #FF8C00; 
}
section.scroll-section {
    min-height: 900px;
    height: 1200px;/* @scrollIt : a section should have a height for make it works !!*/
    width: 100%; 
}
section > div.container > div.row > div.boiler-symbol{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    top: 200px;
    text-align: center;
}
section > div.container > div.row > div.boiler-symbol > p{
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    position: relative; 
    top: 20px;
    bottom:0;
    color: white;
}
/* navigation skin */
div.navbar {
    background-color:#141414;
    border: none!important;
    top:0;
    left: 0;
    right:0;
    margin-bottom: 0px!important;
    border-width: 0 0 0px;
    position: relative;
    z-index: 1030;
    height: 50px;
}
ul.nav.navbar-nav {
    margin: 7.5px 0px;
    padding-top:5px;
    height: 35px;

}
ul.nav.navbar-nav li {
    width: 80px;
    text-align: center;
}
ul.nav.navbar-nav li a{
    display: block;
    width: 80px;
    padding: 0px;
    background-color: transparent;
    color: #f8f8f8;
    border: none;
    font-weight: bold;

}
ul.nav.navbar-nav li a:hover{
    color: darkorange;
}
nav.navbar-collapse{
    float: none;
    text-transform: uppercase;
    width: 400px;
    height: 60px;
    margin: 0 auto!important;
    background-color: #141414;
    padding-left: 0px;
    padding-right: 0px;
}
nav.navbar-collapse ul.nav li a i.fa {
    position: relative;
    top:-7px;
}

div.navbar div.container{
    background-color: #141414;
}

.navbar .navbar-collapse{
    border: 0!important;
    background-color: #141414;
    border-color: #141414;
}
.navbar .navbar-toggle:hover{
    background-color: #141414;
    border-color: #141414;
}
.navbar-brand{
    padding: 10px 10px;
}
.navbar-brand i.fa, button.navbar-toggle i.fa {
    color: darkorange;
}
button.navbar-toggle {
    background-color: black;
}

/******************************************************************************************/

.home-slider-container {
    width:100%;
    position:relative;
    padding:0;
    max-height:1000px;
    overflow:hidden;
}

.slider-banner{
    width:100% !important;
    height:1200px;
}

/*@media only screen and (min-width: 768px) and (max-width: 959px) {
    .banner, .bannercontainer { width:760px; height:395px;}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .banner, .bannercontainer { width:480px; height:250px; }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .banner, .bannercontainer { width:320px;height:166px; }
}*/

@media(max-width: 480px){
    ul.nav.navbar-nav li a {
        margin-left: auto;
        margin-right: auto;
        width: 50px;
    }
}

@media(max-width: 768px){
    nav.navbar-collapse {
        width: 100%;
    }
    ul.nav.navbar-nav {
        height: auto;
        margin: 7.5px 0;
        padding-top: 5px;
    }
    ul.nav.navbar-nav li {
        text-align: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    ul.nav.navbar-nav li a {
        margin-left: auto;
        margin-right: auto;
        width: 80px;
    }
}